name: "build"

on:
  pull_request:
    branches:
      - "master"
      - "stable"
  push:
    branches:
      - "master"
      - "stable"

jobs:
  build:
    runs-on: "ubuntu-24.04"
    steps:
      - name: "checkout repository"
        uses: "actions/checkout@v6"
      - name: "setup go"
        uses: "actions/setup-go@v6"
        with:
          go-version: "1.26"
      - name: "install python3-pytest"
        run: "sudo apt install -y python3-pytest python3-websockets"
      - name: "make install"
        run: "make install"
      - name: "make test"
        run: "make test"
      - name: "make smoke"
        run: "make smoke"
      - name: "make irctest"
        run: "make irctest"
